<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/normalize.css" />
    <link rel="stylesheet" href="../public/css/app.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.22/b-1.6.5/r-2.2.6/sl-1.3.1/datatables.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

    <script
      type="text/javascript"
      src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.22/b-1.6.5/r-2.2.6/sl-1.3.1/datatables.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <title>Data Warehouse</title>
  </head>
  <body class="index">
    <header class="barra">
      <h1>Data Warehouse</h1>
      <a href="/cerrar-sesion">Cerrar sesión</a>
    </header>
    <main class="contenedor">
      <aside class="contenedor-menu">
        <ul id="ul-menu" class="ul-menu">
          <li class="menuCompany"><a href="#companias">Compañías</a></li>
          <li class="menuContact"><a href="#contactos">Contactos</a></li>
          <li class="menuRegion"><a href="#region-ciudad">Región / Ciudad</a></li>
          <li class="menuUser"><a href="#usuarios">Usuarios</a></li>
        </ul>
      </aside>
      <!-- append content -->
      <div class="contenedor-table"></div>
    </main>
    <!--Modal para Usuarios-->
    <div
      id="modalUser"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header modal-header-user">
            <h5 class="modal-title modal-title-user"></h5>
          </div>
          <form id="formUser">
            <div class="modal-body">
              <input id="userId" hidden />
              <label for="" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" id="userName" required />
              <label for="" class="col-form-label">Apellido:</label>
              <input
                type="text"
                class="form-control"
                id="userLastName"
                required
              />
              <label for="" class="col-form-label">Email:</label>
              <input
                type="email"
                class="form-control"
                id="userEmail"
                required
              />
              <label for="" class="col-form-label">Password:</label>
              <input type="password" class="form-control" id="userPassword" />
              <label for="" class="col-form-label">Rol:</label>
              <select class="form-control" id="userRol">
                <option value="">Seleccionar rol</option>
                <option value="Administrador">Administrador</option>
                <option value="Empleado">Empleado</option>
              </select>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cancelar
              </button>
              <button type="submit" id="btnGuardarUser" class="btn btn-dark">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--Modal para Compañias-->
    <div
      id="modalCompany"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header modal-header-company">
            <h5 class="modal-title modal-title-company"></h5>
          </div>
          <form id="formCompany">
            <div class="modal-body">
              <input id="companyId" hidden />
              <label for="" class="col-form-label">Nombre:</label>
              <input
                type="text"
                class="form-control"
                id="companyName"
                required
              />
              <label for="" class="col-form-label">Email:</label>
              <input
                type="email"
                class="form-control"
                id="companyEmail"
                required
              />
              <label for="" class="col-form-label">Ciudad:</label>
              <select class="form-control" id="companyCity"></select>
              <label for="" class="col-form-label">Dirección:</label>
              <input
                type="text"
                class="form-control"
                id="companyAddress"
                required
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cancelar
              </button>
              <button type="submit" id="btnGuardarCompany" class="btn btn-dark">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--Modal para Contactos-->
    <div
      id="modalContact"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header modal-header-contact">
            <h5 class="modal-title modal-title-contact"></h5>
          </div>
          <form id="formContact">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-6">
                    <input id="contactId" hidden />
                    <label for="" class="col-form-label">Nombre:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="contactName"
                      required
                    />
                    <label for="" class="col-form-label">Apellido:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="contactLastName"
                      required
                    />
                    <label for="" class="col-form-label">Cargo:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="contactPosition"
                      required
                    />
                    <label for="" class="col-form-label">Email:</label>
                    <input
                      type="email"
                      class="form-control"
                      id="contactEmail"
                      required
                    />
                    <label for="" class="col-form-label">Compañía:</label>
                    <select class="form-control" id="contactCompany"></select>
                  </div>

                  <div class="col-sm-6">
                    <label for="" class="col-form-label">Región:</label>
                    <select class="form-control" id="contactRegion"></select>
                    <label for="" class="col-form-label">País:</label>
                    <select class="form-control" id="contactCountry"></select>
                    <label for="" class="col-form-label">Ciudad:</label>
                    <select class="form-control" id="contactCity"></select>
                    <label for="" class="col-form-label">Dirección:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="contactAddress"
                      required
                    />
                    <div class="row contact-interest">
                      <div class="col-sm-9">
                        <label for="">Interés:</label><br>
                        <progress
                          class="progress-interes"
                          id="contactInterest"
                          value=""
                          max="100"
                        >
                          0%
                        </progress>
                      </div>
                      <div>
                        <select id="contactPercentage">
                          <option value="0%">0%</option>
                          <option value="25%">25%</option>
                          <option value="50%">50%</option>
                          <option value="75%">75%</option>
                          <option value="100%">100%</option>
                        </select>
                      </div>
                    </div>
                    <br />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <label for="" class="col-form-label"
                      >Canal de contacto:</label
                    >
                    <select class="form-control" id="contactChannel"></select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="col-form-label"
                      >Cuenta de usuario:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="contactUserAccount"
                      required
                    />
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="col-form-label">Preferencias:</label>
                    <select
                      class="form-control"
                      id="contactPreferences"
                    ></select>
                  </div>
                  <div class="col-sm-3">
                    <input
                      type="text"
                      class="form-control add-channel"
                      id="contactAddChannel"
                      placeholder="+ Add Channel"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cancelar
              </button>
              <button type="submit" id="btnGuardarContact" class="btn btn-dark">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="../public/dist/bundle.js"></script>
  </body>
</html>
