html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.barra {
  background-color: #455a64;
  padding: 1rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barra h1 {
  color: white;
  margin: 0;
  font-size: 2rem;
}

.barra a {
  color: white;
  text-decoration: none;
}

.contenedor {
  display: none;
  background-color: #E1EBF0;
}

.contenedor-menu {
  height: auto;
  min-height: 100vh;
  width: 200px;
  background-color: #607d8b;
}

.contenedor-menu ul {
  list-style: none;
  margin-top: 20px;
}

.contenedor-menu ul li {
  line-height: 40px;
  margin-left: -15px;
}

.contenedor-menu ul li a {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.contenedor-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 1100px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 1rem;
  background-color: #F8FDFF;
}

table thead th {
  background-color: #607D8B !important;
  color: white;
}

.contenedor-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  overflow: hidden;
  z-index: 1;
  background-color: #455a64;
}

.formLogin {
  width: 30%;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: #607d8b;
}

.formLogin h2 {
  color: white;
  text-align: center;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 50px;
}

.formLogin input {
  margin: 10px 0;
}

.formLogin button {
  background-color: #455a64;
  color: white;
  font-weight: bold;
}

.contact-interest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.contact-interest select {
  margin-right: 15px;
}

.add-channel {
  margin-top: 37px;
}

.add-channel:hover {
  cursor: pointer;
}

th,
td {
  white-space: nowrap;
}

.progress-interes {
  border: 2px;
  width: 250px;
}

.contenedor-tree-region {
  display: flex;
}

.container-region {
  display: flex;
  justify-content: center;
  width: 500px;
  margin: 0 10px;
  margin-top: 100px;
  border: 1px solid #607d8b;
  border-radius: 5px;
  box-shadow: 2px 3px #c4ccd1;
}

.container-region div h2 {
  text-align: center;
}

.container-region div .btn-dark {
  margin-bottom: 30px;
}

.container-country span {
  display: flex;
}
.container-country span h3 {
  width: 200px;
}

.container-country span button:first-child {
  background-color: #17a2b8;
}

.container-country span button {
  margin: 0 5px;
}

.ul-country li {
  display: flex;
  line-height: 50px;
  font-size: 18px;
}

.ul-country li span {
  width: 180px;
}

.ul-country li button {
  margin: 5px 5px;
  font-weight: 600;
}

.btnAddRegion {
  position: absolute;
  width: 150px;
  height: 50px;
}

.btnEditCountry {
  background-color: #17a2b8;
  color: white;
  border: none;
  border-radius: 5px;
}

.btnDeleteCountry {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
}

.btnDeleteRegion {
  position: absolute;
  margin-left: 280px;
  margin-top: -30px;
}

.btnDeleteRegion:hover {
  cursor: pointer;
}

.cerrar-sesion:hover {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.menuUser{
  display: none;
}

.dt-buttons button{
  margin: 0 5px !important;
  border-radius: 5px !important;
}

