html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.barra {
  background-color: #455a64;
  padding: 1rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barra h1 {
  color: white;
  margin: 0;
  font-size: 2rem;
}

.barra a {
  color: white;
  text-decoration: none;
}

.contenedor {
  display: flex;
}

.contenedor-menu {
  height: 100vh;
  width: 200px;
  background-color: #607d8b;
}

.contenedor-menu ul {
  list-style: none;
  margin-top: 20px;
}

.contenedor-menu ul li {
  line-height: 40px;
  margin-left: -15px;
}

.contenedor-menu ul li a {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.contenedor-table {
  width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.contact-interest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.contact-interest select {
  margin-right: 15px;
}

.add-channel {
  margin-top: 37px;
}

.add-channel:hover {
  cursor: pointer;
}

th,
td {
  white-space: nowrap;
}

.progress-interes {
  border: 2px;
  width: 250px;
}
